@import "./viriables.scss";
html {
    font-size: 100px;
}
body {
    font-size: .12rem;
}
a { 
    color: $content-font-color;
    text-decoration: none;
}
input {
    outline: none;
}
* {
    padding: 0;
    margin: 0;
    // border: 0;
}