@font-face {
  font-family: 'iconfont';  /* Project id 3441198 */
  src: url('//at.alicdn.com/t/c/font_3441198_qantlvc0c2.woff2?t=1728463766522') format('woff2'),
       url('//at.alicdn.com/t/c/font_3441198_qantlvc0c2.woff?t=1728463766522') format('woff'),
       url('//at.alicdn.com/t/c/font_3441198_qantlvc0c2.ttf?t=1728463766522') format('truetype');
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e697";
}

.icon-search:before {
  content: "\e82e";
}

.icon-position:before {
  content: "\e7f1";
}

.icon-bell:before {
  content: "\e887";
}

.icon-menu:before {
  content: "\e630";
}

.icon-cart:before {
  content: "\e600";
}

.icon-my:before {
  content: "\e78b";
}

.icon-home:before {
  content: "\e7a7";
}

