@mixin ellipsis {
    //超出隐藏
    overflow: hidden;
    //强制一行显示文本
    white-space: nowrap;
    //超出部分显示省略号
    text-overflow: ellipsis;
}

//多行文本隐藏
// p{
//     display:-webkit-box; /* 先让容器变成一个弹性伸缩盒子 */
//     overflow:hidden;
//     text-overflow:ellipsis;
//     -webkit-line-clamp:2;  /* 最大显示的文本行数 */
//     -webkit-box-orient:vertical;  /* 设置或检索伸缩盒对象的子元素的排列方式  */
// }